<div class="container border d-flex flex-wrap align-content-center mb-3 mt-3 p-4">
   <div class="col-sm-12 col-md-6 col-lg-6">
      <h1>О компании</h1>
      <span class="translucent text-center">ООО "Компас"</span>
   </div>
   <div class="compass-image col-sm-12 col-md-6 col-lg-6">
      <img src="@Url.Content("/images/compas_header.jpg")" class="mw-100 compass-image" />
   </div>
</div>

<div class="container border w-100 h-100 mb-3 p-4">
   <h2 class=" text-center">Компас - это сервисный центр по ремонту компьютерной техники</h2>
   <div>
      <p>
         Специализированный сервисный центр в Ессентуках готов выполнить ремонт и восстановление работоспособности компьютеров и ноутбуков разных марок и моделей. Ремонт ПК не займет много времени, так как большинство самых востребованных комплектующих всегда имеется в наличии на складе.
      </p>
      <p>Помимо стандартного ремонта, мы также готовы предложить клиентам услуги по настройке новых компьютеров и модернизации устройств с устаревшим оборудованием.</p>
   </div>
</div>
<div class="container border mb-3 p-4">
   <h3 class="text-center">Наши главные преимущества:</h3>
   <div class="container d-flex flex-wrap flex-md-wrap flex-lg-nowrap justify-content-between p-5">

      <div class="card w-20 max-w-20 m-2">
         <img src="@Url.Content("~/images/repair_tools.png")" class="card-img-top w-10 m-auto">
         <div class="card-body">
            <h4 class="card-title">Ремонт</h4>
            <p class="card-text">
               Ремонт выполняется в сервисном центре или на территории клиента с выездом мастера
            </p>
         </div>
      </div>
      <div class="card w-20 max-w-20 m-2">
         <img src="@Url.Content("~/images/price_icon.png")" class="card-img-top w-10 m-auto">
         <div class="card-body">
            <h4 class="card-title">Цены</h4>
            <p class="card-text">
               Приемлемые обоснованные цены на услуги
            </p>
         </div>
      </div>
      <div class="card w-20 max-w-20 m-2">
         <img src="@Url.Content("~/images/diagnostics_icon.png")" class="card-img-top w-10 m-auto">
         <div class="card-body">
            <h4 class="card-title">Диагностика</h4>
            <p class="card-text">
               Диагностика перед началом ремонта для выявления точной причины неисправности
            </p>
         </div>
      </div>
      <div class="card w-20 max-w-20 m-2">
         <img src="@Url.Content("~/images/confidentiality_icon.png")" class="card-img-top w-10 m-auto">
         <div class="card-body">
            <h4 class="card-title">Конфиденциальность</h4>
            <p class="card-text">
               Конфиденциальность персональных данных
            </p>
         </div>
      </div>
      <div class="card w-20 max-w-20 m-2">
         <img src="@Url.Content("~/images/guarantee_icon.png")" class="card-img-top w-10 m-auto">
         <div class="card-body">
            <h4 class="card-title">Гарантия</h4>
            <p class="card-text">
               Гарантия на выполненные работы и детали
            </p>
         </div>

      </div>
   </div>
</div>