<div class="container border mt-4 p-0">
   <h1 class="text-center mt-4">Наши услуги</h1>
   <div class="d-flex justify-content-around">
      <div class="">
         <div class="container row d-flex flex-wrap text-center justify-content-around">
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/repair_pc.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Ремонт компьютеров</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/repair_notebook.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Ремонт ноутбуков</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/computer-virus.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Чистка от вирусов</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/windows_icon.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Установка Windows</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/build_pc.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Сборка персонального компьютера</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/cpu.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Продажа комплектующих</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/usb.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Продажа переферии</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/drivers.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Установка драйверов</h4>
               </div>
            </div>
            <div class="card w-20 max-w-20 m-2 col-md-4 col-lg-4 col-sm-12">
               <img src="@Url.Content("~/images/cartridge_refill.png")" class="card-img-top w-10 m-auto">
               <div class="card-body">
                  <h4 class="card-title">Заправка картриджей</h4>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>
